.card {
    width: 50%;

}

.image-one {
    background-image: url(images/jade-masri-74tlEYKgrBE-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.weather {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 40px;
}

#showWeather {
    float: left;
    margin-left: 5px;
    color: green;
    font-size:medium;
}
  

/* .scoreButtons {
    display: flex;
    align-items: center;
    justify-content: center;
  } */